{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<br>
  <div class="div-color-dark">      
    <ul class="no-bullets">
      <li style="text-align:center"><h1>{{calendar_data['current_month_word']}}</h1><br>
        <span style="font-size:18px">{{calendar_data['current_year']}}</span>
      </li>
    </ul>
  </div>
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  

  <ul class="days">
    {% for day in calendar_data['previous_month_list'] %}
    <li>{{day}}</li>
    {% endfor %}

    {% for day in calendar_data['current_month_list'] %}
      {% if day == calendar_data['current_day'] %}
      <li><span class="active">{{day}}</span></li>
      {% else %}
      <li>{{day}}</li>
      {% endif %}
    {% endfor %}

    {% for day in calendar_data['next_month_list'] %}
    <li>{{day}}</li>
    {% endfor %}

  </ul>

{% endblock %}