{% extends "layout.html" %}
{% block title %}Recipes{% endblock %}
{% block content%}
<br>
<div align="center" class="col"><button type="button" class="btn btn-success btn-block" data-toggle="modal"
        data-target=".bd-example-modal-lg">Add A New Meal</button></div>
<br>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <th colspan="4" class="text-center">
            <h3><b>All Meals</b></h3>
        </th>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">No. Portions</th>
            <th class="text-center">Date Added</th>
            <th class="text-center">View Meal</th>
        </tr>
    </thead>

    {% for meal in meals %}
    <tr>
        <th class="text-center">{{meal.name.title()}} </th>
        <th class="text-center">{{meal.portion}} </th>
        <th class="text-center">{{meal.date.strftime('%Y-%m-%d') }} </th>
        <th class="text-center">
            <a style="color:rgb(0, 0, 0)" href="{{ url_for('views.meal', id=meal.id) }}"><i
                    class="bi bi-chevron-right"></i></a>
        </th>
    </tr>
    {% endfor %}
</table>
<!-- Large Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Meal</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset id="new-meal-form" class="form-group" f>
                            <div class="form-row">
                                <div class="col-9">
                                    <div id="meal-name-block" class="form-group">
                                        {{ form.name.label(class='form-control-label') }}
                                        {% if form.name.errors %}
                                        {{ form.name(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.name(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div id="portion-block" class="form-group">
                                        {{ form.portion.label(class='form-control-label') }}
                                        {% if form.portion.errors %}
                                        {{ form.portion(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.portion.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.portion(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="input-group col-3">
                                    <div id="prep-time-hour-block" class="form-group" style="width: 100%;">
                                        {{ form.prep_time_hour.label(class='form-control-label') }}
                                        {% if form.prep_time_hour.errors %}
                                        {{ form.portion(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.prep_time_hour.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.prep_time_hour(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="input-group col-3">
                                    <div id="prep-time-min-block" class="form-group" style="width: 100%;">
                                        {{ form.prep_time_min.label(class='form-control-label') }}
                                        {% if form.prep_time_min.errors %}
                                        {{ form.portion(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.prep_time_min.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.prep_time_min(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="input-group col-3">
                                    <div id="cook-time-hour-block" class="form-group" style="width: 100%;">
                                        {{ form.cook_time_hour.label(class='form-control-label') }}
                                        {% if form.cook_time_hour.errors %}
                                        {{ form.portion(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.cook_time_hour.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.cook_time_hour(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="input-group col-3">
                                    <div id="cook-time-min-block" class="form-group" style="width: 100%;">
                                        {{ form.cook_time_min.label(class='form-control-label') }}
                                        {% if form.cook_time_min.errors %}
                                        {{ form.portion(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.cook_time_min.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.cook_time_min(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <div id="diet-type-block" class="form-group" style="width: 100%;">
                                        {{ form.diet_type.label(class='form-control-label') }}
                                        {% if form.diet_type.errors%}
                                        {{ form.diet_type(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.diet_type.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.diet_type(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-3">
                                    <div id="health-type-block" class="form-group" style="width: 100%;">
                                        {{ form.health_type.label(class='form-control-label') }}
                                        {% if form.health_type.errors%}
                                        {{ form.health_type(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.health_type.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.health_type(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-3">
                                    <div id="effort-block" class="form-group" style="width: 100%;">
                                        {{ form.effort.label(class='form-control-label') }}
                                        {% if form.effort.errors%}
                                        {{ form.effort(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.effort.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.effort(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-3">
                                    <div id="cost-block" class="form-group" style="width: 100%;">
                                        {{ form.cost.label(class='form-control-label') }}
                                        {% if form.cost.errors%}
                                        {{ form.cost(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.cost.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.cost(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <div id="freezeable-block" class="form-group" style="width: 100%;">
                                        {{ form.freezable.label(class='form-control-label') }}
                                        {% if form.freezable.errors%}
                                        {{ form.freezable(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.freezable.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.freezable(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-4">
                                    <div id="num-ingredient-block" class="form-group" style="width: 100%;">
                                        {{ form.num_ingredient.label(class='form-control-label') }}
                                        {% if form.num_ingredient.errors%}
                                        {{ form.num_ingredient(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.num_ingredient.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.num_ingredient(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-4"> 
                                    <div id="go-off-time-block" class="form-group" style="width: 100%;">
                                        {{ form.time_to_go_off.label(class='form-control-label') }}
                                        {% if form.time_to_go_off.errors%}
                                        {{ form.time_to_go_off(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.time_to_go_off.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div>
                                            {{ form.time_to_go_off(class="form-control") }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div id="recipe-block" class="form-group" style="width: 100%;">
                                    {{ form.recipe.label(class='form-control-label') }}
                                    {% if form.recipe.errors%}
                                    {{ form.recipe(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.recipe.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <div>
                                        {{ form.recipe(class="form-control") }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="validationTooltip03">Ingredient</label>
                                </div>
                                <div class="col-6">
                                    <label for="validationTooltip05">Amount</label>
                                </div>
                            </div>
                            <div id='ingredient-row-container' style="width: 100%;">
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="validationTooltip03">
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" id="validationTooltip05"
                                                placeholder="Amount">
                                            <div class="input-group-append">
                                                <select class="form-control input-group-text text-left"
                                                    placeholder="Unit">
                                                    <option>g</option>
                                                    <option>kg</option>
                                                    <option>tbsp</option>
                                                    <option>tsp</option>
                                                    <option>item</option>
                                                    <option>oz</option>
                                                    <option>ml</option>
                                                    <option>liter</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row parent-center-div">
                                <div class="parent-center-div"><i id="add-Ingredient" class="bi bi-plus-circle"></i>
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose image for meal
                                        photo</label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="parent-center-div">
                            <div class="form-group child-center-div" align="center">{{form.submit(class='btn
                                btn-success')}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}