{% extends "layout.html" %}
{% block title %}Meal Planner{% endblock %}
{% block content%}
<br><br><br>
<div align="center" class="col"><button type="button" class="btn btn-success btn-block" data-toggle="modal"
        data-target=".bd-example-modal-lg">Generate Meal Plan</button></div>
<br>
<div class="row div-color-dark">
    <div class="div-parent-center">
        <h4>Meal Plan</h4>
    </div>
</div>
{% for meal in meal_plan %}
<div class="row div-color-dim content-section-dim">
    <div class="col-12 text-center">{{meal.name.title()}} </div>
</div>
{% endfor %}
{% endblock %}