
{% extends "layout.html" %}
{% block content %}
<br>

<div class="row" id="Header">
  <div class="col-4 col-container media content-section">
    <section>
      <div>
        <h2>Picture</h2>
      </div>
    </section>
  </div>
  <div class="col-md-8 ">
    <section class="content-section">
      <div class="row">
        <div class="col-7"><h2>{{meal.name.title()}}</h2></div>
        <div class="col"><a class="btn btn-warning btn"  href="{{ url_for('views.update_meal', id=meal.id)}}">Update</a></div>
        <div class="col"><a class="btn btn-danger btn" data-toggle="modal" data-target="#deleteModal">Delete</a></div> 
      </div>
      <div class="row">
        <div class="col-6">Portions: {{meal.portion}}</div>
        <div class="col-6">Added By: {{user.first_name}}</div>
      </div>
      <div class="row">
          {% if meal.cook_time_hour == 0 %}
          <div class="col-6">Cook Time: {{meal.cook_time_min}} mins</div>
          {% elif meal.cook_time_hour == 1 and meal.cook_time_min == 0 %}
          <div class="col-6">Cook Time: {{meal.cook_time_hour}} hr</div>
          {% elif meal.cook_time_hour == 1 %}
          <div class="col-6">Cook Time: {{meal.cook_time_hour}} hr {{meal.cook_time_min}} mins</div>
          {% elif meal.cook_time_min == 0 %}
          <div class="col-6">Cook Time: {{meal.cook_time_hour}} hrs</div>
          {% else %}
          <div class="col-6">Cook Time: {{meal.cook_time_hour}} hrs {{meal.cook_time_min}} mins</div>
          {% endif %}
        <div class="col-6">Effort: {{meal.portion}}</div>
      </div>

      <div class="row">
        {% if meal.prep_time_hour == 0 %}
          <div class="col-6"> Prep Time: {{meal.prep_time_min}} mins</div>
          {% elif meal.prep_time_hour == 1 and meal.prep_time_min == 0 %}
          <div class="col-6"> Prep Time: {{meal.prep_time_hour}} hr</div>
          {% elif meal.prep_time_hour == 1 %}
          <div class="col-6">Prep Time: {{meal.prep_time_hour}} hr {{meal.prep_time_min}} mins</div>
          {% elif meal.prep_time_min == 0 %}
          <div class="col-6">Prep Time: {{meal.prep_time_hour}} hrs</div>
          {% else %}
          <div class="col-6">Prep Time: {{meal.prep_time_hour}} hrs {{meal.prep_time_min}} mins</div>
          {% endif %}
        <div class="col-6">Ingredients: {{meal.num_ingredient}}</div>

      </div>
      <div class="row">
        <div class="col-2">Tags: </div>
        {% if meal.health_type == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-danger">Unhealthy</span></div>
        {% elif meal.health_type == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-warning">Healthy</span></div>
        {% elif meal.health_type == "2" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Very Healthy</span></div>
        {% endif %}

        {% if meal.effort == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Low Effort</span></div>
        {% elif meal.effort == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-warning">Average Effort</span></div>
        {% elif meal.effort == "2" %}
        <div class="tag-row"><span class="badge badge-pill badge-danger">High effort</span></div>
        {% endif %}


        {% if meal.diet_type == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-warning">Meat</span></div>
        {% elif meal.diet_type == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Vegetarian</span></div>
        {% elif meal.diet_type == "2" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Vegan</span></div>
        {% endif %}

        {% if meal.health_type == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Freezable</span></div>
        {% elif meal.health_type == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Not Freezeable</span></div>
        {% endif %}

      </div>
      <div class="row">
        <div class="col-2">Macros: </div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Calories: 820</span></div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Carbs: 50g</span></div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Fat: 180g</span></div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Protein: 75g</span></div>
      </div>
    </section>

  </div> 
</div>


<div class="row" id="Body">
  <div class="col-4 media content-section">
    <section>
      <h2>Ingredients</h2>
      <section class="media-body">
        <ul class="no-bullets">
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 cooked chicken breasts</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 blocks egg noodles</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 tsp sunflower oil</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">3 carrots, finely sliced into rings</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 tbsp clear honey</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">4 tbsp Light soy sauce</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">1 tbsp Dark soy sauce</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 tbsp Fish Sauce</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">1/2 tsp Chilli flakes</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">1 Lime</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2  Garlic cloves</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">3 tbsp toasted sesame seeds</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">handfull of coriander leaves  </li>
        </ul>
      </section>
    </section>
  </div>
  <div class="col-8">
    <section class="content-section">
      <div>
        <h2>Method</h2>
        <div class="grouped-list">
          {{meal.recipe}}
        </div>
      </div>
    </section>
  </div>
</div>



  
<div>
  <legend align="center">
    <button type="button" class="btn btn-light" data-dismiss="modal">
        <a class="text-center" href="{{ url_for('views.meals') }}"><b>Go Back</b></a>
      
    </button>
  </legend>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this meal?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{ url_for('views.delete_post', id=meal.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}