{% extends "layout.html" %}
{% block content %}
<br>
<div class="row" id="Header">
  <div class="col-4 col-container media content-section">
    <section>
      <div>
        <h2>Picture</h2>
      </div>
    </section>
  </div>
  <div class="col-md-8 ">
    <section class="content-section">
      <div class="row">
        <div class="col-7">
          <h2>{{meal.name.title()}}</h2>
        </div>
        <div align="center" class="col">
          <button type="button" class="btn btn-warning btn-block" data-toggle="modal"
            data-target=".bd-example-modal-lg">Update</button>
        </div>
        <div class="col"><a class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">Delete</a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">Portions: {{meal.portion}}</div>
        <div class="col-6">Added By: {{user.first_name}}</div>
      </div>
      <div class="row">
        {% if meal.cook_time_hour == 0 %}
        <div class="col-6">Cook Time: {{meal.cook_time_min}} mins</div>
        {% elif meal.cook_time_hour == 1 and meal.cook_time_min == 0 %}
        <div class="col-6">Cook Time: {{meal.cook_time_hour}} hr</div>
        {% elif meal.cook_time_hour == 1 %}
        <div class="col-6">Cook Time: {{meal.cook_time_hour}} hr {{meal.cook_time_min}} mins</div>
        {% elif meal.cook_time_min == 0 %}
        <div class="col-6">Cook Time: {{meal.cook_time_hour}} hrs</div>
        {% else %}
        <div class="col-6">Cook Time: {{meal.cook_time_hour}} hrs {{meal.cook_time_min}} mins</div>
        {% endif %}
        <div class="col-6">Effort: {{meal.portion}}</div>
      </div>
      <div class="row">
        {% if meal.prep_time_hour == 0 %}
        <div class="col-6"> Prep Time: {{meal.prep_time_min}} mins</div>
        {% elif meal.prep_time_hour == 1 and meal.prep_time_min == 0 %}
        <div class="col-6"> Prep Time: {{meal.prep_time_hour}} hr</div>
        {% elif meal.prep_time_hour == 1 %}
        <div class="col-6">Prep Time: {{meal.prep_time_hour}} hr {{meal.prep_time_min}} mins</div>
        {% elif meal.prep_time_min == 0 %}
        <div class="col-6">Prep Time: {{meal.prep_time_hour}} hrs</div>
        {% else %}
        <div class="col-6">Prep Time: {{meal.prep_time_hour}} hrs {{meal.prep_time_min}} mins</div>
        {% endif %}
        <div class="col-6">Ingredients: {{meal.num_ingredient}}</div>
      </div>
      <div class="row">
        <div class="col-2">Tags: </div>
        {% if meal.health_type == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-danger">Unhealthy</span></div>
        {% elif meal.health_type == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-warning">Healthy</span></div>
        {% elif meal.health_type == "2" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Very Healthy</span></div>
        {% endif %}
        {% if meal.effort == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Low Effort</span></div>
        {% elif meal.effort == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-warning">Average Effort</span></div>
        {% elif meal.effort == "2" %}
        <div class="tag-row"><span class="badge badge-pill badge-danger">High effort</span></div>
        {% endif %}
        {% if meal.diet_type == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-warning">Meat</span></div>
        {% elif meal.diet_type == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Vegetarian</span></div>
        {% elif meal.diet_type == "2" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Vegan</span></div>
        {% endif %}

        {% if meal.health_type == "0" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Freezable</span></div>
        {% elif meal.health_type == "1" %}
        <div class="tag-row"><span class="badge badge-pill badge-success">Not Freezeable</span></div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-2">Macros: </div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Calories: 820</span></div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Carbs: 50g</span></div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Fat: 180g</span></div>
        <div class="tag-row"><span class="badge badge-pill badge-secondary">Protein: 75g</span></div>
      </div>
    </section>
  </div>
</div>
<div class="row" id="Body">
  <div class="col-4 media content-section">
    <section>
      <h2>Ingredients</h2>
      <section class="media-body">
        <ul class="no-bullets">
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 cooked chicken breasts</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 blocks egg noodles</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 tsp sunflower oil</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">3 carrots, finely sliced into rings</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 tbsp clear honey</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">4 tbsp Light soy sauce</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">1 tbsp Dark soy sauce</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 tbsp Fish Sauce</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">1/2 tsp Chilli flakes</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">1 Lime</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">2 Garlic cloves</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">3 tbsp toasted sesame seeds</li>
          <li class="pb-xxs pt-xxs list-item list-item--separator">handfull of coriander leaves </li>
        </ul>
      </section>
    </section>
  </div>
  <div class="col-8">
    <section class="content-section">
      <div>
        <h2>Method</h2>
        <div class="grouped-list">
          {{meal.recipe}}
        </div>
      </div>
    </section>
  </div>
</div>

<div>
  <legend align="center">
    <button type="button" class="btn btn-light" data-dismiss="modal">
      <a class="text-center" href="{{ url_for('views.meals') }}"><b>Go Back</b></a>

    </button>
  </legend>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this meal?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('views.delete_post', id=meal.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Large Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Meal</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset id="new-meal-form" class="form-group" f>
              <div class="form-row">
                <div class="col-9">
                  <div id="meal-name-block" class="form-group">
                    {{ form.name.label(class='form-control-label') }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.name.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control") }}
                    {% endif %}
                  </div>
                </div>
                <div class="col-3">
                  <div id="portion-block" class="form-group">
                    {{ form.portion.label(class='form-control-label') }}
                    {% if form.portion.errors %}
                    {{ form.portion(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.portion.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.portion(class="form-control") }}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="input-group col-3">
                  <div id="prep-time-hour-block" class="form-group" style="width: 100%;">
                    {{ form.prep_time_hour.label(class='form-control-label') }}
                    {% if form.prep_time_hour.errors %}
                    {{ form.portion(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.prep_time_hour.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.prep_time_hour(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="input-group col-3">
                  <div id="prep-time-min-block" class="form-group" style="width: 100%;">
                    {{ form.prep_time_min.label(class='form-control-label') }}
                    {% if form.prep_time_min.errors %}
                    {{ form.portion(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.prep_time_min.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.prep_time_min(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="input-group col-3">
                  <div id="cook-time-hour-block" class="form-group" style="width: 100%;">
                    {{ form.cook_time_hour.label(class='form-control-label') }}
                    {% if form.cook_time_hour.errors %}
                    {{ form.portion(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.cook_time_hour.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.cook_time_hour(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="input-group col-3">
                  <div id="cook-time-min-block" class="form-group" style="width: 100%;">
                    {{ form.cook_time_min.label(class='form-control-label') }}
                    {% if form.cook_time_min.errors %}
                    {{ form.portion(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.cook_time_min.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.cook_time_min(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="form-group col-3">
                  <div id="diet-type-block" class="form-group" style="width: 100%;">
                    {{ form.diet_type.label(class='form-control-label') }}
                    {% if form.diet_type.errors%}
                    {{ form.diet_type(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.diet_type.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.diet_type(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group col-3">
                  <div id="health-type-block" class="form-group" style="width: 100%;">
                    {{ form.health_type.label(class='form-control-label') }}
                    {% if form.health_type.errors%}
                    {{ form.health_type(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.health_type.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.health_type(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group col-3">
                  <div id="effort-block" class="form-group" style="width: 100%;">
                    {{ form.effort.label(class='form-control-label') }}
                    {% if form.effort.errors%}
                    {{ form.effort(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.effort.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.effort(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group col-3">
                  <div id="cost-block" class="form-group" style="width: 100%;">
                    {{ form.cost.label(class='form-control-label') }}
                    {% if form.cost.errors%}
                    {{ form.cost(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.cost.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.cost(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-4">
                  <div id="freezeable-block" class="form-group" style="width: 100%;">
                    {{ form.freezable.label(class='form-control-label') }}
                    {% if form.freezable.errors%}
                    {{ form.freezable(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.freezable.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.freezable(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group col-4">
                  <div id="num-ingredient-block" class="form-group" style="width: 100%;">
                    {{ form.num_ingredient.label(class='form-control-label') }}
                    {% if form.num_ingredient.errors%}
                    {{ form.num_ingredient(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.num_ingredient.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.num_ingredient(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group col-4">
                  <div id="go-off-time-block" class="form-group" style="width: 100%;">
                    {{ form.time_to_go_off.label(class='form-control-label') }}
                    {% if form.time_to_go_off.errors%}
                    {{ form.time_to_go_off(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.time_to_go_off.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div>
                      {{ form.time_to_go_off(class="form-control") }}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div id="recipe-block" class="form-group" style="width: 100%;">
                  {{ form.recipe.label(class='form-control-label') }}
                  {% if form.recipe.errors%}
                  {{ form.recipe(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.recipe.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  <div>
                    {{ form.recipe(class="form-control") }}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div id='ingredient-row-container' style="width: 100%;">
                <div class="form-row">
                  <div class="col-6">
                    <div id="ingredient-name-block" class="form-group" style="width: 100%;">
                      {{ form.ingredient_name.label(class='form-control-label') }}
                      {% if form.ingredient_name.errors%}
                      {{ form.ingredient_name(class="form-control is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.ingredient_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %}
                      <div>
                        {{ form.ingredient_name(class="form-control") }}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-group mb-3">
                      <div id="ingredient-name-block" class="form-group" style="width: 70%;">
                        {{ form.ingredient_amount.label(class='form-control-label') }}
                        {% if form.ingredient_amount.errors%}
                        {{ form.ingredient_amount(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.ingredient_amount.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        <div>
                          {{ form.ingredient_amount(class="form-control") }}
                        </div>
                        {% endif %}
                      </div>
                      <div id="ingredient-name-block" class="form-group" style="width: 30%;">
                        {{ form.ingredient_unit.label(class='form-control-label') }}
                        {% if form.ingredient_unit.errors%}
                        {{ form.ingredient_unit(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.ingredient_unit.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        <div>
                          {{ form.ingredient_unit(class="form-control") }}
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row parent-center-div">
                <div class="parent-center-div"><i id="add-Ingredient" class="bi bi-plus-circle"></i>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose image for meal
                    photo</label>
                </div>
              </div>
            </fieldset>
            <div class="parent-center-div">
              <div class="form-group child-center-div" align="center">{{form.submit(class='btn
                btn-success')}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}