{% extends "layout.html" %}
{% block title %}My Store{% endblock %}
{% block content%}
<br>
<div class="row div-color-dark">
    <div class="div-parent-center">
        <h4>Meal Store</h4>
    </div>
</div>
<div class="row div-color-dark">
    <div class=" col-6 div-parent-center">
        <h6>Meal</h6>
    </div>
    <div class=" col-6 div-parent-center">
        <h6>Portions Remaining</h6>
    </div>
</div>
{% for stored_meal in meal_store_list %}
<div class="row div-color-dim content-section-dim">
    <div class="col-6 text-center">{{stored_meal[0].title()}}</div>
    <div class="col-6 text-center">{{stored_meal[1]}}</div>
</div>
{% endfor %}
{% endblock %}