{% extends "layout.html" %}
{% block title %}Shopping List{% endblock %}
{% block content%}
<br>
<div class="row div-color-dark">
    <div class="div-parent-center">
        <h4>Shopping List</h4>
    </div>
</div>
{% for key, value in shopping_list.items() %}
<div class="row div-color-dim content-section-dim">
    {% if value['unit'] == 'item' and value['amount'] > 1 %}
    <div class="col-6 text-center">{{value['amount']}}    {{value['name']}}s</div>
    <div class="col-6 text-center">
            <i class="bi bi-chevron-right icon-white" data-toggle="modal" data-target="#deleteModal"></i>
    </div>
    {% elif value['unit'] == 'item' and value['amount'] == 1 %}
    <div class="col-6 text-center">{{value['amount']}}    {{value['name']}}</div>
    <div class="col-6 text-center">
        <i class="bi bi-chevron-right icon-white" data-toggle="modal" data-target="#deleteModal"></i>
    </div>
    {% else %}
    <div class="col-6 text-center">{{value['amount']}} {{value['unit']}}   {{value['name']}}</div>
    <div class="col-6 text-center">
        <i class="bi bi-chevron-right icon-white" data-toggle="modal" data-target="#deleteModal"></i>
    </div>
    {% endif %}
</div>
{% endfor %}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title form-text" id="deleteModalLabel">Are you sure you want to delete this Ingredient?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}